<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<style type="text/css">

body {
	background-image: linear-gradient(to left top, #083373, #0069ad, #009cb0, #00ca7a, #a8eb12);    background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
    background-attachment: fixed;
    margin: 0;
}
</style>

</head>


<body>
 

<div class="typewriter">
    <div class="typewriter-text">Bienvenu sur notre site</div>
</div>

    <button class="btn"><a class="conn" href="{{ url_for('login') }}">Connexion</a></button>
    <button class="btn"><a class="conn" href="{{ url_for('inscription') }}">Inscription</a></button>



 </body>

</html>
